---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<section id="hero">
		<Hero />

	</section>
	<section id="skills"></section>
	<section id="timeline"></section>
	<section id="projects"></section>
</Layout>

